@{
    ViewBag.Title = "Home Page";
}


<!-- sản phẩm mới-->

<div class="container">
    <h2>New</h2>
    <div class="product-group">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card">
                    <img src="~/Content/image/a3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Áo Đẹp</h5>
                        <p class="card-text">Giá: 500.000 VNĐ</p>
                        <button class="chitiet btn btn-outline-dark my-2 my-sm-0"><a class="button active" href="chitietsp.html">Xem Chi Tiết</a></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card">
                    <img src="~/Content/image/a3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Áo Đẹp</h5>
                        <p class="card-text">Giá: 500.000 VNĐ</p>
                        <button class="chitiet btn btn-outline-dark my-2 my-sm-0"><a class="button active" href="chitietsp.html">Xem Chi Tiết</a></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card">
                    <img src="~/Content/image/a3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Áo Đẹp</h5>
                        <p class="card-text">Giá: 500.000 VNĐ</p>
                        <button class="chitiet btn btn-outline-dark my-2 my-sm-0"><a class="button active" href="chitietsp.html">Xem Chi Tiết</a></button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card">
                    <img src="~/Content/image/a3.png" class="card-img-top" alt="...">
                    <h5 class="card-title">Áo Đẹp</h5>
                    <p class="card-text">Giá: 500.000 VNĐ</p>
                    <button class="chitiet btn btn-outline-dark my-2 my-sm-0"><a class="button active" href="chitietsp.html">Xem Chi Tiết</a></button>
                </div>
            </div>
        </div>
    </div>
</div>